body{
    background: linear-gradient(to right, hsl(182, 97%, 28%), hsl(209, 91%, 23%)) ;
}
.board{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    zoom: 1.5;
    
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
th {
    border: 2px solid black;
    width: 50px;
    text-align: left;
}
.labelRow{
    width: 90px;
}
.scoreInputDiv{
    color: blue;
}
input{
    width: 50px;
}